.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.listItem {
  float: left;
}

.listItem a {
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
}

.listItem a:hover {
  background-color: #111;
}